.card-post {
    background-color: $color-secondary;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    &__description {
        text-align: center;
        img {
            height: 200px;
            max-width: 100%;
        }
    }
    &__times {
        display:contents;
        justify-content: space-between;

    }
    &__rates {
        display:contents;
        flex-direction: column;
        align-items: flex-end;

    }
}