.profil {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .follow-btn-bloc {
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 120px;
      height: 40px;
      border-radius: 10px 10px 10px 10px;
      border: none;
      box-shadow: 1px 1px 5px #967b7b;
      font-weight: 600;
      font-size: 1.1em;
    }
    .followed-btn {
      background-color: $secondary-color;
      box-shadow: inset 1px 1px 5px #967b7b;
    }
  }

  .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    background-color: $secondary-color;
    border-radius: 10px 10px 10px 10px;

    h2 {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px 0;
    }
    .img-bloc {
      display: flex;
      justify-content: center;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50px 50px 50px 50px;
        object-fit: cover;
      }
    }
  }

  .informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    border-radius: 10px 10px 10px 10px;
    background-color: $secondary-color;

    h2 {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px 0;
    }

    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-bottom: 10px;

      .info-label {
        width: 30%;
        text-align: end;
      }
      .info {
        width: 50%;
        min-width: 180px;
        max-width: 232px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @include mobile-landscape {
        .info-label {
          width: 40%;
        }
      }
    }
  }

  @include tablet-portrait {
    .image {
      width: 40%;
      height: 320px;
    }

    .informations {
      width: 58%;
      height: 320px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      h2 {
        margin-left: 5%;
      }

      ul {
        .info {
          max-width: none;
        }
      }
    }
  }

  .biography {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    border-radius: 10px 10px 10px 10px;
    background-color: $secondary-color;

    h2 {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px 0;
    }

    .biography-bloc {
      width: 100%;
      padding-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .biography-text {
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      textarea {
        width: 100%;
        height: 100px;
        border-radius: 10px 10px 0 10px;
        padding: 5px 5px 5px 5px;
        border: none;
      }
    }
  }

  .following,
  .followers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 20px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: $secondary-color;

    h2 {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px 0;
    }

    .following-bloc,
    .followers-bloc {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      div {
        width: 100%;

        .author-card {
          width: 100%;
          height: 70px;
          background-color: #fff0f0;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 1px 1px 10px #967b7b;
          display: flex;

          a {
            width: 70%;
            padding: 5px 0 5px 5px;
            color: $tertiary-color;
            display: flex;
            gap: 10px;

            .author-image {
              width: 70px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 50px;
                height: 50px;
                border-radius: 10px 10px 10px 10px;
              }
            }

            .author-informations {
              width: 70%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              .name {
                font-weight: 700;
              }

              .department {
                font-size: smaller;
              }
            }
          }

          .follow-btn-bloc {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
              width: 80px;
              height: 30px;
              border-radius: 10px 10px 10px 10px;
              border: none;
              box-shadow: 1px 1px 5px #967b7b;
              font-family: "lato";
              font-size: 1em;
              font-weight: 500;
            }
            .followed-btn {
              background-color: $secondary-color;
              box-shadow: inset 1px 1px 5px #967b7b;
            }
          }
        }
      }
    }
  }

  @include tablet-portrait {
    .following {
      width: 49%;
    }

    .followers {
      width: 49%;
    }
  }

  .user-posts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;

    h2 {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px 0;
    }

    .posts {
      max-width: 700px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;

      .author-card {
        border-bottom: solid 1px $primary-color;
        padding: 5px 5px 5px;
        display: flex;
        gap: 10px;

        .author-image {
          width: 70px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 50px;
            height: 50px;
            border-radius: 10px 10px 10px 10px;
          }
        }

        .author-informations {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .name {
            font-weight: 700;
          }

          .department {
            font-size: smaller;
          }
        }
      }
    }
  }
}

@include tablet-portrait {
  .profil {
    justify-content: space-between;
  }
}
