// Update image

.image-btn-bloc {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image-btn {
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-family: "lato";
  font-size: 1em;
  font-weight: 500;
  color: $tertiary-color;
  background-color: #fff0f0;
  box-shadow: 1px 1px 10px #967b7b;
}

.image-btn:active {
  background-color: $secondary-color;
  box-shadow: inset 1px 1px 5px #967b7b;
}

// Update profil

.update-btn-bloc {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@include mobile-landscape {
  .update-btn-bloc {
    gap: 20px;
  }
}

.update-btn {
  width: 50%;
  max-width: 176px;
  height: 35px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-family: "lato";
  font-size: 1em;
  font-weight: 500;
  background-color: #fff0f0;
  box-shadow: 1px 1px 10px #967b7b;
}

@media screen and (max-width: 375px) {
  .update-btn {
    height: 40px;
  }
}

.update-btn:active {
  background-color: $secondary-color;
  box-shadow: inset 1px 1px 5px #967b7b;
}

// Send/Cancel update profil

.update-form-btn-bloc {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.update-form-btn {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-family: "lato";
  font-size: 1em;
  font-weight: 500;
  background-color: #fff0f0;
  box-shadow: 1px 1px 10px #967b7b;
}

.update-form-btn:active {
  background-color: $secondary-color;
  box-shadow: inset 1px 1px 5px #967b7b;
}

// Update biography

.biography-btn-bloc {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.biography-btn {
  width: 170px;
  height: 35px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  font-family: "lato";
  font-size: 1em;
  font-weight: 500;
  background-color: #fff0f0;
  box-shadow: 1px 1px 10px #967b7b;
}

.biography-btn:active {
  background-color: $secondary-color;
  box-shadow: inset 1px 1px 5px #967b7b;
}

.biography-form-btn-bloc {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
